<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="townName=''">

<p>Name of town: <input type="text" ng-model="townName"></p>
<p>Name your village chief:<input type="text" ng-model="chief"></p>
<p>Your town is : {{ townName }} </p>
<p>Town people: {{ chief }}


<h2 ng-init="count=0">Today is day {{count}}</h2>
<button ng-click="count = count + 1" ng-click="day()">Get Water</button><br>
<p id="water"></p><br>
<button ng-click="count = count + 1" >Get Food</button><br>
<p id="food"></p><br>
<button ng-click="count = count + 1">Get Wood</button><br>
<p id="wood"></p><br>
<button ng-click="count = count + 1">Build Well</button>Cost 5  Wood<br>
<p id="wells"></p><br> 
<button ng-click="count = count + 1">Build House</button>Cost 5 Wood<br>
<p id="houses"></p>
<button>Quit</button>


<game></game>


</div>
<script src="module.js"></script>
<script src="SuperGame.js"></script>
<script src="GameService.js"></script>
<script src="turnselect.js"></script>
</body>
</html>
